# Общие
.DS_Store
*.log

# Временные файлы проекта
/test_im100.zip
/IM100

# Ruby on Rails
/webapp/log/*
!/webapp/log/.keep
/webapp/tmp/*
!/webapp/tmp/.keep
/webapp/storage/*
!/webapp/storage/.keep
/webapp/node_modules
/webapp/yarn-error.log

# Загрузки и результаты
/webapp/public/converted_pngs
/webapp/public/reports

# Python venv
/webapp/lib/python/venv

# Тестовые архивы
/test_archives/

# Данные для обучения и ML-артефакты
/server_data/
/RAWDATA/
/models/
/reports/
/evaluation_results/
/src/
*.tar.gz
*.zip
*.pth
*.pyc
nohup.out
kaggle.json
